<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="我的账本增加消费类型">
		
		<link rel="stylesheet" href="../weui/lib/weui.min.css">
		<link rel="stylesheet" href="../weui/css/jquery-weui.css">
		<link rel="stylesheet" href="../css/Gstyle.css">
		
		<title>个人中心-我的账本</title>
	</head>
	<body>
		<header class='login-header'>
			<h1 class="login-title">
				<div style="width:50px; height:50px; background-color:#9ED99D; border-radius:25px;margin: 0 auto;">
					<span style="height:50px; line-height:50px; display:block; color:#FFF; text-align:center;">测</span>
				</div>
			</h1>
		</header>
		
		<div class="weui-form-preview">
			<div class="weui-form-preview__hd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label" style="color: #10AEFF;">上周花费</label>
					<em class="weui-form-preview__value">¥2400.00</em>
				</div>
			</div>	
			
			<div class="weui-form-preview__hd">
				<div class="weui-form-preview__item">
					<label class="weui-form-preview__label" style="color: #EC8B89;">本周花费</label>
					<em class="weui-form-preview__value">¥2400.00</em>
				</div>
			</div>
		</div>
		
		<div class="weui-footer weui-footer_fixed-bottom"> 
			<a href="javascript:;" class="weui-btn weui-btn_warn" style="color: #FFFFFF;">退出</a>
		</div>
		
				
		<script src="../weui/lib/jquery-2.1.4.js"></script>
		<script src="../weui/lib/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../weui/js/jquery-weui.js"></script>
		<script src="../js/viewindex.js"></script>
		
	</body>
</html>
