<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="我的账本消费记录">
		
		<link rel="stylesheet" href="../weui/lib/weui.min.css">
		<link rel="stylesheet" href="../weui/css/jquery-weui.css">
		<link rel="stylesheet" href="../css/Gstyle.css">
		
		<title>消费记录-我的账本</title>
	</head>
	<body>
		<h1 style="margin-left: 10px;margin-top: 10px;">类型</h1>
		
		<div class="page__bd">
        	<div class="weui-cells">
        		<div class="weui-cell">
        			<div class="weui-cell__bd">
        				<p>标题文字1</p>
        				<p class="show2font">副标题12</p>
        			</div>
        			<div class="weui-cell__ft">
        				<p>标题文字222</p>
        				<p class="show2font">副标题12</p>
        			</div>
        		</div>
        		<div class="weui-cell">
        			<div class="weui-cell__bd">
        				<p>标题文字2</p>
        			</div>
        			<div class="weui-cell__ft">说明文字2</div>
        		</div>
        	</div>
		</div>
		
		<script src="../weui/lib/jquery-2.1.4.js"></script>
		<script src="../weui/lib/fastclick.js"></script>
		<script>
			$(function() {
				FastClick.attach(document.body);
			});
		</script>
		<script src="../weui/js/jquery-weui.js"></script>
		<script src="../js/viewindex.js"></script>
		
	</body>
</html>

